@media (min-width: 1026px) {
.first_block{
    background-image: url('../images/background.webp'); 
    height: 100vh;
    border: 5px solid green;
}
.back-col{
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
}
.head{
   display: flex;
   justify-content: space-evenly;
   margin-bottom: -60px;
}

.title{
   background-image: url('../images/cloud.webp');  
   width: 290px; 
   height:93px;
   padding-top: 20px;
   padding-left: 40px;
   
}

.img-title{
width: 260px;
height: 75px;
}


.menu{
    background-image: url('../images/cloud-2.webp');
    display: flex;
    list-style: none;
    width: 405px;
    height: 62px;
    padding-top: 40px;
    margin-top: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.menu-item a {
     font-size: 18px;
     text-transform: uppercase;
     color: #715D00;
    padding-left: 40px;
    transition: color 0.3s ease;
    
}

.menu-item a:hover{
    color: rgb(255, 0, 0);
    
}

.hero_title{
    text-align: center;
    font-size: 42px;
    color: #F9E994;
    font-weight: 700;
    display: block;
    font-family: "Roboto", sans-serif;
}

.hero_content{
    display: flex;
    justify-content: center;
    margin-top: -10px;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

.hero_par{
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    margin-right: -140px;
    
}
.hero_menu{
    background-color: #7FB3E1;
    border-radius: 20px;
    list-style: none;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    color: #fff;
    padding: 30px;
    margin-right: -70px;
}

.hero_item{
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 10px 0px;
}

.trail{
    padding-right: 10px;
}

.product{
 margin-top: 30px;
 width: 620px;
}
.product-image{
 width: 610px;
 text-align: center;
 position: relative;
 z-index: 100;
}

#countdown {
    color: #F6E791;
    font-family: "Roboto", sans-serif;
    font-size: 33px;
    font-weight: 700;
    text-align: center;
    margin-top: -30px;
}

.form{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    margin-left: -70px;
    
}

form input {
 display: flex; 
 padding: 10px 20px;
 margin: 10px 10px;
 border: none;
 color: #777777;
 font-weight: 700;
 border-radius: 25px;
 background-color: #F3EFEF;
 flex-direction: column;
 font-family: "Roboto", sans-serif;
}
.timer {
    padding: 5px;
    background-color: #7EB2E1;
    color: #483C08;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    position: relative;
    width: 225px;
    height: 130px; 
    clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
    padding-bottom: 50px;
    border-radius: 10px;
    margin-top: -60px;
}

.time-par {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #000;
    position: relative;
    
}

.price .original {
    margin-top: -20px;
    color: #6B6B6B;
    position: relative;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 700;
}

.price .original::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #F6BE91;
    top: 90%;
    left: 5%;
    transform: rotate(-20deg);
    transform-origin: left center;
}

.price .promo {
    color: #483C08;
    margin-left: 10px;
    margin-top: -20px;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 700;
}

.ord{
display: flex;
justify-content: center;
align-items: center;

}

.btn{
    font-family: "Roboto", sans-serif;
    font-size: 27px;
    font-weight: 700;
    background-color: #A1D337;
    border-radius: 30px;
    padding: 10px 60px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease; 
    text-transform: uppercase;
  
}

.btn:hover{
    background-color: #7aa125;
}

#date{
  color: #444444;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
 margin-bottom: -20px;
}

#about {
    text-align: center;
    padding: 10px 20px 40px;
    background-image: url('../images/лапки.webp'); 
    background-repeat: repeat;
    margin-top: -50px;
}

.manufacture{
    color:  #537D13;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
}

.info-cards {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F6E791;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    width: 220px;
    text-align: center;
}

.card-title {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}

.card-desc {
    background-color: rgba(161, 211, 55, 0.4);
    width: 200px;
    height: 180px;
    padding: 10px;
    border-radius: 20px;
}

.card img {
    width: 60%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
}

.card-par{
    font-family: "Roboto", sans-serif;
    color: #483C08;
    font-weight: 400;
    font-size: 14px;
}

#results{
    padding-top: 10px;
    background: linear-gradient(180deg, #E1EDF8 100%, #7FB3E1 0%, #000000 25%);
    margin-top: -20px;
}
.last-block{
    background-image: url('../images/grass.webp') ;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    height: 70vh;
    margin-top: -60px;
}
.results-title{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 42px;
    color: #537D13;
}

.vet{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}

.paragraph {
    width: 600px;
    color: #483C08;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding: 15px 25px;
    position: relative; 
    border-left: 15px solid #D4DF6D;
    border-top: 15px solid #D4DF6D;
    border-bottom: 15px solid #D4DF6D;
    clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 50%, calc(100% - 80px) 100%, 0 100%);
    border-right:90px solid #D4DF6D;
    border-radius: 10px;
    
}

.best{
  margin-bottom: -10px;
  padding-top: 30px;
}

.cat-img{
    width: 250px;
 
}
}

@media (min-width: 320px) and (max-width: 1025px) {
    .first_block {
        background-image: url('../images/background.webp');
        background-size: cover; 
        background-position: center; 
        border: 5px solid green;
    }
    .back-col{
        background-color: rgba(0, 0, 0, 0.3);
        
    }
    .head{
       display: flex;
       justify-content: center;
       flex-direction: column;
    }
    .title{
        display: flex;
        justify-content: center;
       padding-top: 20px;
       
       
    }
    .menu{
       
        display: flex;
        justify-content: center;
        list-style: none;
        margin-top: 30px;
        margin-right: 40px;
        font-family: "Roboto", sans-serif;
    }
    .menu-item a {
         font-size: 16px;
         text-transform: uppercase;
         color: #715D00;
        padding-left: 40px;
        transition: color 0.3s ease;
        
    }
    .menu-item a:hover{
        color: rgb(255, 0, 0);
        
    }
    .hero_title{
        text-align: center;
        font-size: 32px;
        color: #F9E994;
        font-weight: 700;
        display: block;
        font-family: "Roboto", sans-serif;
    }
    .hero_content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .hero_par{
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        font-family: "Roboto", sans-serif;
     
        
    }
    .hero_menu{
        background-color: #7FB3E1;
        border-radius: 20px;
        list-style: none;
        font-weight: 600;
        font-family: "Roboto", sans-serif;
        color: #fff;
        padding: 10px;
        
    }
    
    .hero_item{
        display: flex;
        align-items: center;
        font-size: 16px;
        padding: 10px 0px;
    }
    
    .trail{
        padding-right:5px;
    }
    .product-image{
    width: 350px;
     text-align: center;
     position: relative;
     z-index: 100;
    }
    #countdown {
        color: #F6E791;
        font-family: "Roboto", sans-serif;
        font-size: 25px;
        font-weight: 500;
        text-align: center;
        margin-top: -30px;
    }
    .form{
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        align-items: center;
        background-color: #fff;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    form input {
     display: flex; 
     padding: 5px 10px;
     margin: 10px 10px;
     border: none;
     color: #777777;
     font-weight: 500;
     border-radius: 25px;
     background-color: #F3EFEF;
     flex-direction: column;
     font-family: "Roboto", sans-serif;
    }
    .timer {
        padding: 25px;
        background-color: #7EB2E1;
        color: #483C08;
        font-family: "Roboto", sans-serif;
        text-align: center;
        position: relative;
        width: 160px;
        height: 140px; 
        clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
        padding-bottom: 50px;
        border-radius: 10px;
    }
    .time-par {
        font-family: "Roboto", sans-serif;
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 700;
    }
    .price {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: #000;
        position: relative;
        
    }
    .price .original {
        color: #6B6B6B;
        position: relative;
        display: inline-block;
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 500;
    }
    .price .original::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #F6BE91;
        top: 100%;
        left: 5%;
        transform: rotate(-20deg);
        transform-origin: left center;
    }
    .price .promo {
        color: #483C08;
        margin-left: 10px;
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 600;
    }
    .ord{
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .btn{
        font-family: "Roboto", sans-serif;
        font-size: 22px;
        font-weight: 500;
        background-color: #A1D337;
        border-radius: 30px;
        padding: 10px 50px;
        color: #fff;
        border: none;
        cursor: pointer;
        transition: background-color 0.5s ease; 
      
    }
    .btn:hover{
        background-color: #7aa125;
    }
    #date{
      color: #444444;
      font-size: 18px;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
    }
#about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 20px 40px;
    background-image: url('../images/лапки.webp'); 
    background-repeat: repeat;
}

.manufacture{
    display: flex;
    align-items: center;
    justify-content: center;
    color:  #537D13;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
}
.info-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F6E791;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    padding: 10px;
    width: 220px;
    text-align: center;
}
.card-title {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.card-desc{
    background-color: rgba(161, 211, 55, 0.4);
    width: 180px;
    height: 180px;
    padding: 10px 10px;
    border-radius: 20px;
}
.card img {
    width: 50%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 15px;
}
.card-par{
    font-family: "Roboto", sans-serif;
    color: #483C08;
    font-weight: 400;
    font-size: 14px;
}
#results{
    padding-top: 10px;
    background: linear-gradient(180deg, #E1EDF8 100%, #7FB3E1 0%, #000000 25%);
}
.last-block{
    background-image: url('../images/grass.webp') ;
    background-repeat: no-repeat;
    background-position: bottom;
}
.results-title{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #537D13;
}
.vet{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.paragraph {
    color: #483C08;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding: 15px 25px;
    position: relative; 
    border: 12px solid #6ddf79;
    
}

.cat-img{
    width: 300px;
    height: 250px;
    margin-bottom: 140px;
}
}